<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title>Audit MSES-A</ion-title>
    <ion-buttons left>
      <button ion-button icon-only (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-searchbar placeholder="Enter Supplier Name" [(ngModel)]="searchTerm" (ionInput)="onSearchInput()"></ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let supplier of filteredList" (click)="supChange(supplier)">
      {{supplier.name}}
    </ion-item>
  </ion-list>

  <p class="nodatafound" *ngIf="auditList.length==0">No Data Found</p>

  <ion-card class="dash">
    <div *ngIf="auditList.length!=0">
      <ion-item>
        <ion-label style="color:#6bc7a2">Supplier Details</ion-label>
      </ion-item>
      <ion-list>
        <ion-item class="supplier">
          <ion-label class="MSESA">
            <b>Supplier Name:</b>
          </ion-label>
          <ion-label class="MSESA">
            <b>Project Name:</b>
          </ion-label>
        </ion-item>
        <ion-item style="margin-top:-15px">
          <ion-label class="MSES" text-wrap *ngIf="auditList[0].supplierName!='' || auditList[0].supplierName!=null" text-wrap>{{auditList[0].supplierName}} </ion-label>
          <!-- <ion-label class="MSES" text-wrap *ngIf="auditList[0].supplierName=='' || auditList[0].supplierName==null">- -</ion-label> -->
          <ion-label class="MSES" text-wrap *ngIf="auditList[0].projectName!='' || auditList[0].projectName!=null" text-wrap>{{auditList[0].projectName}}</ion-label>
          <!-- <ion-label class="MSES" text-wrap *ngIf="auditList[0].processName=='' || auditList[0].processName==null">- -</ion-label> -->
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item class="supplier">
          <ion-label class="MSESA">
            <b>Area:</b>
          </ion-label>
          <ion-label class="MSESA">
            <b>Location:</b>
          </ion-label>
        </ion-item>
        <ion-item style="margin-top:-15px">
          <ion-label class="MSES" text-wrap *ngIf="auditList[0].area!='' || auditList[0].area!=null" text-wrap>{{auditList[0].area}} </ion-label>
          <!-- <ion-label class="MSES" text-wrap *ngIf="auditList[0].area=='' || auditList[0].area==null">N/A</ion-label> -->
          <ion-label class="MSES" text-wrap *ngIf="auditList[0].location!='' || auditList[0].location!=null" text-wrap>{{auditList[0].location}}</ion-label>
        </ion-item>

      </ion-list>
      <ion-list>
        <ion-item class="supplier">
          <ion-label class="MSESA">
            <b>Owner:</b>
          </ion-label>
        </ion-item>
        <ion-item style="margin-top:-15px">
          <ion-label class="MSES" text-wrap *ngIf="auditList[0].owner!='' || auditList[0].owner!=null" text-wrap>{{auditList[0].owner}}</ion-label>
          <!-- <ion-label class="MSES" text-wrap *ngIf="auditList[0].owner=='' || auditList[0].owner==null">N/A</ion-label> -->

        </ion-item>
        <p class="nodatafound" *ngIf="noDataFound">{{noDataFound}}</p>
      </ion-list>
      <button class="btn" ion-button medium full (click)="continue()">Continue</button>
    </div>
  </ion-card>
</ion-content>