page-auditmses-a {
    .list-md {
        /* margin: -3px 0 16px; */
        margin-left: 8px;
        margin-right: 8px;
    }
    .hrl{
        
          height: 10px;
          border-bottom: 1px #9b9b9b solid;
          border-right: 1px #9b9b9b solid;
          border-left: 1px #9b9b9b solid;
          margin-right: -0.8rem !important;
          margin-left: -0.8rem !important;
          margin-top: -8px;
      } 
      .taskList{
        background-color: #6bc7a2;
        height: 5px !important;
        margin-bottom: -6px;
        margin-top: -4px;
    }
    
    .select-section{
        //background: transparent;
        border-bottom: 1px solid gray;
    } 
        .mses{
            margin-bottom: -15px;
        } 
        .MSESA{
            font-size: 1.2rem;
          
        }
        .supplier{
            margin-top: -14px;
        }
        .btn{
            padding-bottom: -15px;
            background-color: rgb(232, 62, 76) ;
            margin-bottom: 0px;
        }
        .MSES{
            margin-top: -12px;
            font-size: 1.1rem;
        }
        .target{
            border-radius: 9px;
          //  margin-bottom: -6px;
          //  margin-top: -4px;
        }
        .btn{
            padding-bottom: -15px;
            background-color: rgb(232, 62, 76) ;
            margin-bottom: 0px;
            height: 40px;
        }
        .dash{
            border-radius: 12px;
            margin-top: 20px;
            opacity: 0.93;
        }
        page-audits .card-md > .item:last-child, page-audits .card-md > .item:last-child .item-inner, page-audits .card-md > .item-wrapper:last-child .item {
            margin-bottom: -34px;
        }
        .label-md {
            margin: 7px;
            margin-bottom: 8px;
        }
}
