page-view-monthly-visit-plan {
    ion-item{
        border-bottom: 1px #ccc solid!important;
    }
      .dash{
          border-radius: 12px;
      }
      .dashboard{
        background-color: #6bc7a2 !important;
      }
      .taskList{
          background-color: #6bc7a2;
          font-size: 2rem;
          height: 5px !important;
      }
      .OR{
          vertical-align: middle !important;
      }
      .btn{
        background-color: rgb(232, 62, 76) ;
        margin-bottom: 0px;
        margin-top: 0px;
        height: 40px;
      }

}
